
{{ define "main" }}
  {{ $data := .Data }}
  <div class="breadcrumb">
    {{ $data.Plural | humanize }}
  </div>
  <div class="main" role="main">
    <h2>Total {{ len .Data.Terms }} categories</h2>
    <section class="terms-category">
      <ul>
        {{- range .Data.Terms.Alphabetical }}
        <li>
          <a href="{{ "/" | relURL }}{{ $data.Plural | urlize }}/{{ .Name | urlize }}/">{{ .Name | humanize }}({{ .Count }})</a>
        </li>
        {{- end}}
      </ul>
    </section>
  </div>
{{ end }}
