
{{ define "main" }}
  {{ $data := .Data }}
  <div class="breadcrumb">
    {{ $data.Plural | humanize }}
  </div>
  <div class="main" role="main">
    <h2>Total {{ len .Data.Terms }} tags</h2>
    <div class="terms-tag">
      <div>
        {{- range .Data.Terms.Alphabetical }}
        <a class="terms-taglist__link btn-terms-tags" href="{{ "/" | relURL }}{{ $data.Plural | urlize }}/{{ .Name | urlize }}/">
          {{ .Name | humanize }}({{ .Count }})
        </a>
        {{- end }}
      </div>
    </div>
  </div>
{{ end }}